<h1 mat-dialog-title class="dialog-title">Creazione Personaggio</h1>

<div mat-dialog-content class="dialog-content">
  <form [formGroup]="characterForm">

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="Inserisci nome">
      <mat-error *ngIf="characterForm.get('name')?.hasError('required')">
        Il nome è obbligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Iniziativa</mat-label>
      <input matInput formControlName="initiative" placeholder="Inserisci iniziativa">
      <mat-error *ngIf="characterForm.get('initiative')?.hasError('required')">
        L'iniziativa è obbligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Classe Armatura</mat-label>
      <input matInput formControlName="armorClass" type="number" placeholder="Inserisci classe armatura">
      <mat-error *ngIf="characterForm.get('armorClass')?.hasError('required')">
        La classe armatura è obbligatoria.
      </mat-error>
      <mat-error *ngIf="characterForm.get('armorClass')?.hasError('min')">
        Deve essere almeno 1.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="characterForm.get('type')?.hasError('required')">
        Seleziona un tipo.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Seleziona Immagine di Copertura</mat-label>
      <mat-select formControlName="imageCover" (selectionChange)="onCoverImageChange($event.value)">
        <mat-option *ngFor="let key of objectKeys" [value]="images[key].cover">
          <img [src]="images[key].cover" class="option-img" /> {{ key }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="characterForm.get('imageCover')?.hasError('required')">
        Seleziona un'immagine di copertura.
      </mat-error>
    </mat-form-field>

    <!-- Anteprima dell'immagine di copertura -->
    <div *ngIf="selectedCoverImage" class="image-preview">
      <img [src]="selectedCoverImage" class="preview-img" alt="Anteprima Copertura">
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Seleziona Immagine del Personaggio</mat-label>
      <mat-select formControlName="imageCharacter" (selectionChange)="onCoverImageChange($event.value)">
        <mat-option *ngFor="let key of objectKeys" [value]="images[key].character">
          <img [src]="images[key].character" class="option-img" /> {{ key }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="characterForm.get('imageCharacter')?.hasError('required')">
        Seleziona un'immagine del personaggio.
      </mat-error>
    </mat-form-field>

    <!-- Anteprima dell'immagine del personaggio -->
    <div *ngIf="selectedCharacterImage" class="image-preview">
      <img [src]="selectedCharacterImage" class="preview-img" alt="Anteprima Personaggio">
    </div>

  </form>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="cancel-btn">Annulla</button>
  <button mat-flat-button [disabled]="characterForm.invalid" (click)="onSubmit()" class="save-btn">Salva</button>
</div>
